node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Editor
.idea

# TypeScript
*.tsbuildinfo

# Wrangler local state from Cloudflare deploys
.wrangler

# Logs
*.log

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
